@{
    ViewBag.Title = "Home Page";
}
    <head>
        <link rel="stylesheet" type="text/css" href="styles.css" />
    </head>

    <body>

        <div style="text-align:center;position:absolute; margin-top:10%">
            <p class="embed-responsive" style="font-size:3em;text-align:center; margin-left:-5%"> “"We all make choices in life, but in the end our choices make us." <br /> Andrew Ryan, Bioshock” <br /></p>
            <br /> <br /> <br />
            <p class="embed-responsive" style="font-size:2em;text-align:center; margin-left:-5%"> You Can find out about my Game list by Clicking on the button below. </p>
            <p class="embed-responsive" style="font-size:2em;text-align:center;margin-left:-5%;padding-bottom:5%">
                <br />
            <a href="http://gamelist.dcooper.co.uk/Games" class="btn btn-primary btn-lg">Click Me</a>
            </p>
        </div>
</body>


